#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.calculator {
  background: #c3c8c3;
  padding: 2rem;
  
}

.buttonsArea{
background: #BFC0BB;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(5,1fr);
grid-template-areas:  "clear . . ."
                      "digit7 digit8 digit9 soustraction"
                      "digit4 digit5 digit6 division"
                      "digit1 digit2 digit3 multiplication"
                      "digit0 digitDot egal addition";
}

.digit1grid {
  background: #050606;
  grid-area: digit1;
}

.digit2grid {
  background: #050606;
  grid-area: digit2;
}

.digit3grid {
  background: #050606;
  grid-area: digit3;
}

.digit4grid {
  background: #050606;
  grid-area: digit4;
}

.digit5grid {
  background: #050606;
  grid-area: digit5;
}

.digit6grid {
  background: #050606;
  grid-area: digit6;
}

.digit7grid {
  background: #050606;
  grid-area: digit7;
}

.digit8grid {
  background: #050606;
  grid-area: digit8;
}

.digit9grid {
  background: #050606;
  grid-area: digit9;
}

.digit10grid {
  background: #050606;
  grid-area: digit0;
}

.digit11grid {
  background: #050606;
  grid-area: digitDot;
} 

.operatorAdditiongrid {
color:black;
grid-area: addition;
}

.operatorSoustractiongrid {
  color:black;
  grid-area: soustraction;
  }

.operatorMultiplicationgrid {
    color:black;
    grid-area: multiplication;
    }

.operatorDivisiongrid {
      color:black;
      grid-area: division;
      }

.operatorEgalgrid {
        color:black;
        grid-area: egal;
        }

.operatorCleargrid {
          color:black;
          grid-area: clear;
          }



/*voir si je dois inverser avec le css du index.css BFC0BB