#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.calculator {
  background: #c3c8c3;
  padding: 2rem;
  border-radius: 5px;
}

.buttonsArea{
background: #BFC0BB;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(5,1fr);
grid-template-areas:  "clear . . ."
                      "digit7 digit8 digit9 soustraction"
                      "digit4 digit5 digit6 division"
                      "digit1 digit2 digit3 multiplication"
                      "digit0 digitDot egal addition";
}


.operator, .digit, .function {
  font-size: 1.6rem;
  border-radius: 5px;
  color: white;
}

.digit {
  background: linear-gradient(90deg, rgba(6,7,7,1) 0%, rgba(58,73,75,1) 51%);
}




.operator {
  background: linear-gradient(90deg, rgba(156,155,153,1) 0%, rgba(255,255,255,1) 51%);
}

.function {
  background: linear-gradient(90deg, rgba(165,74,16,1) 0%, rgba(202,132,48,1) 51%);
}
 .function  .key {
  display: flex;
  align-items: center;
  justify-content: center ;
  background: #D77230 ;
  height: 60px;
  width: 60px;
  border-radius: 25%;
 }


.digit1grid {
  
  grid-area: digit1;
}

.digit2grid {
  
  grid-area: digit2;
}

.digit3grid {
  
  grid-area: digit3;
}

.digit4grid {
  
  grid-area: digit4;
}

.digit5grid {
  
  grid-area: digit5;
}

.digit6grid {
  
  grid-area: digit6;
}

.digit7grid {
  
  grid-area: digit7;
}

.digit8grid {
  
  grid-area: digit8;
}

.digit9grid {
  
  grid-area: digit9;
}

.digit10grid {
  
  grid-area: digit0;
}

.digit11grid {
  
  grid-area: digitDot;
} 

.operatorAdditiongrid {
color:black;
grid-area: addition;
}

.operatorSoustractiongrid {
  color:black;
  grid-area: soustraction;
  }

.operatorMultiplicationgrid {
    color:black;
    grid-area: multiplication;
    }

.operatorDivisiongrid {
      color:black;
      grid-area: division;
      }

.operatorEgalgrid {
        color:black;
        grid-area: egal;
        }

.operatorCleargrid {
          color:black;
          grid-area: clear;
          }



/*voir si je dois inverser avec le css du index.css BFC0BB